@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center">Welcome to my Movie Page! My name is Joel Hitlon.</h1>

<div class="text-center">
    <h2>This is Me! Hello!</h2>
    <img src="~/img/joelhiltonheadshot.jpg" />
</div>
